<nav class="nav">
  <div class="container nav-list">
    <a href="/" class="logo"
      ><span class="material-symbols-outlined">trophy</span>NHL ETL API
      Documentation</a
    >
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
    </ul>
  </div>
</nav>
